<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app">
<head>
    <title>Dashboard BVP</title>
    <div th:replace="fragments/header :: header-common"/>
    <script th:src="@{/js/index.js}"></script>

</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu" />
    <section>
        <section class="hbox stretch"  ng-app="dash"  ng-controller="dashCtrl">
            <!--<div th:replace="fragments/leftpanel :: leafpanel" />-->
            <!--begin content-->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                            <!--<li><a href="#">User</a></li>-->
                        </ul>
                        <section class="panel panel-default pos-rlt clearfix">
                            <header class="panel-heading " onclick="toggler('chitieu');" >
                                <ul class="nav nav-pills pull-right">
                                    <li>
                                        <a href="javascript:void(0)"  class="text-muted chitieu"><i class="fa fa-caret-down text-active"></i><i class="fa fa-caret-up text"></i></a>
                                    </li>
                                </ul>
                                <a class="text-info chitieu" style="font-weight:600;" href="javascript:void(0)">CHỌN CHỈ TIÊU BÁO CÁO</a>
                            </header>
                            <div class="panel-body clearfix" style="display:none" id="chitieu" >
                                <div class="form-group ">
                                    <div class="col-md-3">
                                        <select name="type" class="select2-option" style="width:100%" ng-model="type" ng-change="changeType()">
                                            <option value="">Chọn chỉ tiêu</option>
                                            <option value="0">Tuần</option>
                                            <option value="1">Tháng</option>
                                            <option value="2">Năm</option>
                                        </select>
                                        <span class="red">{{typeError}}</span>
                                    </div>
                                    <div class="col-md-3" ng-show="showYear">
                                        <!--<div class="col-md-3" >-->
                                        <select name="year" class="select2-option" style="width:100%" ng-model="year">
                                            <option value="">Chọn năm</option>
                                            <option  ng-repeat="item in listYear" value="{{item}}">{{item}}</option>
                                        </select>
                                        <span class="red">{{yearError}}</span>
                                    </div>
                                    <div class="col-md-3" ng-show="showMonth">
                                        <select name="month" class="select2-option" style="width:100%" ng-model="month">
                                            <option value="">Chọn tháng</option>
                                            <option value="1">Tháng 1</option>
                                            <option value="2">Tháng 2</option>
                                            <option value="3">Tháng 3</option>
                                            <option value="4">Tháng 4</option>
                                            <option value="5">Tháng 5</option>
                                            <option value="6">Tháng 6</option>
                                            <option value="7">Tháng 7</option>
                                            <option value="8">Tháng 8</option>
                                            <option value="9">Tháng 9</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                        <span class="red">{{monthError}}</span>
                                    </div>
                                    <div class="col-md-3" ng-show="showWeek">
                                        <select name="week" class="select2-option" style="width:100%" ng-model="week">
                                            <option value="">Chọn tuần</option>
                                            <option value="1">Tuần 1</option>
                                            <option value="2">Tuần 2</option>
                                            <option value="3">Tuần 3</option>
                                            <option value="4">Tuần 4</option>
                                            <option value="5">Tuần 5</option>
                                            <option value="6">Tuần 6</option>
                                            <option value="7">Tuần 7</option>
                                            <option value="8">Tuần 8</option>
                                            <option value="9">Tuần 9</option>
                                            <option value="10">Tuần 10</option>
                                            <option value="11">Tuần 11</option>
                                            <option value="12">Tuần 12</option>
                                        </select>
                                        <span class="red">{{weekError}}</span>
                                    </div>
                                </div>

                                <div class="line line-dashed line-lg pull-in" style="clear:both ;border-top:0px"></div>
                                <div class="form-group text-center">
                                    <a ng-click="search()" class="btn btn-info btn-sm">Áp dụng</a>
                                </div>
                            </div>
                        </section>
                        <section id="main" class="panel panel-default">
                            <div class="row">
                                <div class="col-md-8">

                                    <section class="panel panel-default">
                                        <header class="panel-heading font-bold">Biểu đồ doanh thu lệ phí dịch vụ {{nameTitle}}</header>
                                        <div class="panel-body" style="height:500px;">
                                            <div id="bieudochong" ng-show="showLephi" style="min-width: 310px; height: 460px; margin: 0 auto"></div>
                                        </div>
                                    </section>

                                </div>
                                <div class="col-md-4">
                                    <section class="panel panel-default">
                                        <header class="panel-heading font-bold">Tỷ lệ doanh thu lệ phí các khoa {{nameTitle}}</header>
                                        <div class=" " style="height:800px">
                                            <div class="bieudotron" style="text-align:center">
                                                <canvas class="canvasDoughnutDoanhThuLePhiKhoa" height="220" width="220" style="margin: 15px 10px 10px 0" ng-show="showTyLeKhoa"></canvas>
                                                <table class="table table-striped m-b-none" style="text-align:left" ng-show="showTyLeKhoa">
                                                    <tbody>
                                                    <tr  ng-repeat="item in listDeparmentName track by $index">
                                                        <td>
                                                             <span class="fa-stack fa pull-right m-r-sm">
                                                                 <i class="fa fa-square fa-stack-2x" style="color:{{listColor[$index]}};"></i> <i class="fa fa-stack-1x text-white"></i>
                                                             </span>
                                                        </td>
                                                        <td>{{listDeparmentName[$index]}}</td>
                                                        <td style="text-align: right;">
                                                            {{doanhthulephikhoa.values[$index] | currency:'':0}}
                                                        </td>
                                                    </tr>
                                                    <!--<tr>-->
                                                        <!--<td>-->
                                                            <!--<span class="fa-stack fa pull-right m-r-sm">-->
                                                                 <!--<i class="fa fa-square fa-stack-2x" style="color:#9B59B6;"></i> <i class="fa fa-stack-1x text-white"></i>-->
                                                             <!--</span>-->
                                                        <!--</td>-->
                                                        <!--<td>Gia hạn</td>-->
                                                        <!--<td style="text-align: right;">-->
                                                            <!--6356363-->
                                                        <!--</td>-->
                                                    <!--</tr>-->
                                                    <!--<tr>-->
                                                        <!--<td>-->
                                                            <!--<span class="fa-stack fa pull-right m-r-sm">-->
                                                                 <!--<i class="fa fa-square fa-stack-2x" style="color:#26B99A;"></i> <i class="fa fa-stack-1x text-white"></i>-->
                                                             <!--</span>-->
                                                        <!--</td>-->
                                                        <!--<td>Xác thực</td>-->
                                                        <!--<td style="text-align: right;">-->
                                                            <!--245232-->
                                                        <!--</td>-->
                                                    <!--</tr>-->
                                                    <!--<tr>-->
                                                        <!--<td>-->
                                                            <!--<span class="fa-stack fa pull-right m-r-sm">-->
                                                                 <!--<i class="fa fa-square fa-stack-2x" style="color:#BDC3C7;"></i> <i class="fa fa-stack-1x text-white"></i>-->
                                                             <!--</span>-->
                                                        <!--</td>-->
                                                        <!--<td>Gia hạn xác thực</td>-->
                                                        <!--<td style="text-align: right;">-->
                                                            <!--86666-->
                                                        <!--</td>-->
                                                    <!--</tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                                <div class="col-md-12">
                                    <section class="panel panel-default">
                                        <header class="panel-heading font-bold">Biểu đồ lượt khám {{nameTitle}}</header>
                                        <div class="panel-body" style="height:500px;">
                                            <div id="luotkham" style="min-width: 310px; height: 460px; margin: 0 auto" ng-show="showLuotKham"></div>

                                        </div>
                                    </section>

                                </div>

                            </div>

                        </section>

                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
            <!--end content-->
        </section>
    </section>
</section>
<div th:replace="fragments/footer :: footer-common" />
<!--<script th:src="@{/note/js/jquery.min.js}"></script>-->
<!--<script th:src="@{/js/jquery-3.1.1.min.js}"></script>-->
<script th:src="@{/note/js/charts/sparkline/jquery.sparkline.min.js}" cache="false"></script>
<script th:src="@{/note/js/charts/easypiechart/jquery.easy-pie-chart.js}" cache="false"></script>
<script th:src="@{/js/highcharts/highcharts.js}" cache="false"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script th:src="@{/js/highcharts/highcharts-more.js}" cache="false"></script>
<script th:src="@{/js/highcharts/exporting.js}" cache="false"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.min.js}" ></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/note/js/charts/flot/jquery.flot.grow.js}"></script>
<!--<script th:src="@{/assets/note/js/charts/flot/demo.js"></script>-->

<!--<script th:src="@{/assets/project/index/demo.js"></script>-->
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!--Cho bieu do` tron`-->
<script th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
<script>
    function toggler(divId) {
        $("#" + divId).toggle();
    }
    //giup cai mui ten doi chieu khi click
    $(document).on('click', '.chitieu', function(e){
        e && e.preventDefault();
        var $this = $(e.target), $target;
        if (!$this.is('a')) $this = $this.closest('a');
        $target = $this.closest('.panel');
        $this.toggleClass('active');
    });
</script>
</body>
</html>